{% import './admin/_macros.html.twig' as macros %}

{% set envoi = "<div class='btn-text px-2 d-none' data-search-target='btnFourmi'>" ~ form_widget(form.save, {'label' : 'Modifier <br> le Statut Fourmi'}) ~ "</div>" %}
{% set continue = "" %}

{% block fourmi %}

	<div class="container" data-controller="hide-arrows">
		{{ form_start(form, {'attr': {'autocomplete' : 'off', 'novalidate' : true, 'class' : submitted ? submitted : "" }})}}
		<input type="hidden" name='adherent' data-search-target='adherent'/>
		<h4 class="text-center m-4" data-search-target='modifMessage'></h4>
		<div class="row d-none" data-search-target='fourmiForm'>
			<div class="col">
				<div class="form-group">
					{{ form_widget(form.categorie_fourmi ,  {'attr': {'class': 'form-control select-height', 'id' : 'hidden-form', 'data-search-target':'fourmiStatus'}}) }}
				</div>
			</div>
		</div>
		{{macros.footer_color(section, return_path, envoi, continue)}}
		{{ form_end(form)}}
	</div>
{% endblock %}
