{% import './admin/_macros.html.twig' as macros %}

{% set envoi = "<div class='btn-text px-2 admin-form d-none' data-search-target='envoi'><button type='submit' class='envoi-btn font-raleway p-2'>Modifier <br> status admin</button></div>" %}
{% set continue = "" %}

{% block admin %}
	<div class="container" data-controller="hide-arrows">
		<form method='post' novalidate='novalidate'>
			<input type="hidden" name='adherent' data-search-target='adherent'/>
			<h4 class="text-center m-4" data-search-target='modifMessage'></h4>
			<div class="row">
				<div class="col-12">
					<div class="form-group admin-select d-none" data-search-target='adminForm'>
						<label for="admin">Ajouter des droits admin :</label>
						<select type="radio" name="admin" id="admin-form" class="form-control select-height" data-search-target='adminStatus' required>
							<option value="">Choisir...</option>
							<option value="oui">Oui</option>
							<option value="non">Non</option>
						</select>
					</div>
				</div>
			</div>

			{{macros.footer_color(section, return_path, envoi, continue)}}
		</form>
	</div>
{% endblock %}
