/* général */
.bg-creme 
  background-color: #ebe3e3


.bg-green 
  background-color: #5c995e

/*.catalogue%20vert
  background-color: #5c995e*/

.margin-top
  margin-top: 5em


/* detailsObjet */
.calendrier 
  border-radius: 50px
  box-shadow: black

/* slider */
.splide__slide
  img 
    width: 100%
    height: auto
